.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.label {
  position   : absolute;
  margin-top : -40px;
  color      : gray;
  margin-left: 260px;
}

.MuiFormControl-root {
  width           : 30%;
  /* margin-bottom: 10px; */
}

.Form {
  display           : flex;
  width             : 50%;
  margin            : auto;
  border            : 1px gray solid;
  /* grid-column-gap: 10px; */
  font-family       : 'Times New Roman', Times, serif;
}

.First_Quater {
  width: 100%;
}

.css-2b097c-container {
  margin-top: 10px;
}

/* .Next {
  margin-right    : 65px !important;
  color           : #fff;
  background-color: #3f51b5;
  margin-top      : 15px !important;
} */

.Select {
  width         : 100%;
  height        : 48px;
  font-weight   : 400;
  line-height   : 1.1876em;
  font-size     : 1rem;
  letter-spacing: 0.00938em;
  border        : none;
  background    : #fff;
  border-bottom : 1px gray solid;
}

.css-yk16xz-control {
  border       : none !important;
  border-bottom: 1px gray solid !important;
  border-radius: 0px !important;
}

.error {
  margin-top    : 10px;
  font-size     : 14px;
  letter-spacing: .5px;
  color         : red;
  float         : left;
}

.sel:hover {
  /* outline-color: initial;
    outline-style: initial;
    outline-width: 0px; */
  border-bottom: 2px black solid !important;
}

.cTeam {
  border     : 1px gray solid;
  width      : 40%;
  margin     : auto;
  font-family: 'Times New Roman', Times, serif;
}

.standard-basic {
  width      : 100%;
  overflow   : hidden;
  font-family: 'Times New Roman', Times, serif !important;
}

.last {
  color         : gray;
  /* font-family: time; */
}

.body {
  font-family: 'Times New Roman', Times, serif;
}

.sel {
  width         : 100%;
  height        : 48px;
  font-weight   : 400;
  line-height   : 1.1876em;
  font-size     : 1rem;
  letter-spacing: 0.00938em;
  border        : none;
  background    : #fff;
  border-bottom : 1px gray solid;
  border-right  : 1px gray solid;
}

.selError {
  width         : 100%;
  height        : 48px;
  font-weight   : 400;
  line-height   : 1.1876em;
  font-size     : 1rem;
  letter-spacing: 0.00938em;
  border        : none;
  background    : #fff;
  border-bottom : 2px red solid;
  border-right  : 1px gray solid;
}

.cong {
  color: green;
}

.Next {
  margin-top      : 20px;
  /* float        : right; */
  background      : #5f5fe6;
  border-radius   : 10px;
  outline         : none;
  border          : none;
  padding         : 10px 20px;
  font-size       : 16px;
  cursor          : pointer;
}

.Next:hover {
  background-color: greenyellow;
  cursor          : pointer;
  /* text-decoration: underline; */
}